[submodule "colonelkernel.github.io/themes/nightfall"]
	path = colonelkernel.github.io/themes/nightfall
	url = https://github.com/LordMathis/hugo-theme-nightfall
[submodule "entropiclegos.github.io/public"]
	path = entropiclegos.github.io/public
	url = https://github.com/susmit31/entropiclegos.github.io
	branch = master
[submodule "entropiclegos.github.io/themes/nightfall"]
	path = entropiclegos.github.io/themes/nightfall
	url = https://github.com/lordmathis/hugo-theme-nightfall
